
body{
background-color:#000000;  
}

.intro{
color:white;
background-color:#000000;
height: 100%;
width: 100%;
font-family: Helvetica;
}

.opening{
color:white;
background-color:#1D1F20;
height: 100%;
width: 
font-family: Helvetica;
position: relative;
font-size: 18px;
}

.endpoints{
 color:white;
 background-color:#353536;
 height: 100%;
 font-family: Helvetica;  
}


a{
  text-decoration: none;
	padding-bottom: 3px;
	border-bottom: 1px;
  color:red;
}






